html {
    margin: 2em;
    font-size: 1.5em;
    background-color: #F26E2F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.flex-box {
    display: flex;
    flex-direction: row;
    column-gap: 2em;
}

.flex-box > * {
    flex-basis: 50vw;
}

p {
    margin: 0;
}

.indent p {
    text-indent: 2em;
}

.img {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 0;
    left: 0;
}

img {
    width: 40%;
    height: auto;
}

a:link{
    text-decoration: none;
}
a:visited{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:focus{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}